* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Delete later */
  /* outline: 2px solid red; */
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

.container {
  position: absolute;
  /* Center a div */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 35rem;
  background-color: #0000004d;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1.5px solid #212529;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.display-container {
  width: 30rem;
  height: 7rem;
  border-radius: 1rem;
  background-color: #e3f2fd;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.3rem;
}

.display-txt {
  font-size: 46px;
  color: #000;
}

.clear-delete-container {
  width: 30rem;
  height: 5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btns-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  width: 30rem;
  height: 19rem;
  border-radius: 1rem;
}

footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

span,
strong {
  font-size: 18px;
  padding: 5px;
  color: #212529;
}

.clear-btn {
  width: 14rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 1rem;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  background-color: #dd1c1a;
  border: none;
}

.delete-btn {
  width: 14rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 1rem;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ffc600;
  border: none;
}

.btns {
  width: 5rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  background-color: #8b8c89;
  font-size: 18px;
  font-weight: bold;
}
