* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Delete later */
  /* outline: 2px solid red; */
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

.container {
  position: absolute;
  /* Center a div */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 37rem;
  background-color: #0000004d;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1.5px solid #212529;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.display-container {
  width: 30rem;
  height: 7rem;
  border-radius: 1rem;
  background-color: #e3f2fd;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.3rem;
}

.display-txt {
  font-size: 46px;
  color: #000;
}

.clear-delete-container {
  width: 30rem;
  height: 5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btns-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  width: 30rem;
  height: 19rem;
  border-radius: 1rem;
}

footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  display: flex;
  align-items: center;
}

span,
strong {
  font-size: 18px;
  padding: 5px;
  color: #212529;
  padding: 5px;
}

.clear-btn {
  width: 14rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 1rem;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  background-color: #dd1c1a;
  border: none;
  transition: all 0.4s ease;
}

.delete-btn {
  width: 14rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 1rem;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ffc600;
  border: none;
  transition: all 0.4s ease;
}

.btns {
  width: 5rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  background-color: #8b8c89;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.1s ease;
  color: #000;
}

.clear-btn:hover {
  color: #dd1c1a;
  background-color: #ffffff;
  transform: scale(1.1);
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #ffffff;
  color: #ffc600;
  transform: scale(1.05);
  cursor: pointer;
}

.btns:hover {
  background-color: #ffffff;
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.github-icon,
.icon:link {
  width: 30px;
  height: 30px;
  background-color: #e3f2fd17;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

.github-icon:hover,
.icon:active {
  transform: scale(1.1);
  background-color: #e3f2fd5b;
}

/* ***************** Media Queries **************/
@media (max-width: 850px) {
  .btns-container {
    width: 25rem;
    height: 14rem;
  }

  .display-container {
    width: 25rem;
    height: 6rem;
  }

  .container {
    width: 30rem;
    height: 32rem;
  }

  .clear-btn,
  .delete-btn {
    width: 9rem;
  }

  .clear-delete-container {
    width: 25rem;
  }
}

@media (max-width: 650px) {
  .btns-container {
    width: 20rem;
  }

  .display-container {
    width: 20rem;
    height: 6rem;
  }

  .container {
    width: 22rem;
    height: 29rem;
  }

  .clear-btn,
  .delete-btn {
    width: 9rem;
  }

  .clear-delete-container {
    width: 20rem;
  }

  .btns {
    width: 5rem;
  }
}

@media (max-width: 465px) {
  .display-container {
    width: 22rem;
    height: 6rem;
  }

  .container {
    width: 23rem;
    height: 37rem;
    justify-content: center;
    gap: 1rem;
  }

  .clear-btn,
  .delete-btn {
    width: 9rem;
  }

  .clear-delete-container {
    width: 20rem;
  }

  .btns-container {
    margin-top: 1.5rem;
    width: 22rem;
    height: 18rem;
  }

  .btns {
    font-size: 22px;
  }
}
